<%= provide(:title, "Edit Description")%>
<div class="row">
    <div class="col-3">
        <%= render "lists" %>
    </div>
    <div class="col-9">
        <div class="card w-100" style="width: 18rem;">
            <div class="card-header text-center">
            <h3>Description</h3>
        </div>
        <div class="card-body">
            <%= form_with(model: @room, local: true)  do |f| %>
                <p>Listing name</p>
                <%= f.text_field :listing_name, class:"form-control" %><br>
                <p>Summary</p>
                <%= f.text_area :summary, class:"form-control" %><br>
                <div class="text-center">
                    <%= f.submit "Save", class:"btn btn-outline-warning m-2" %>
                </div>
            <% end %>  
        </div>
    </div>
</div>