<%= provide(:title, "Edit Photoes")%>
<div class="row">
    <div class="col-3">
        <%= render "lists" %>
    </div>
    <div class="col-9">
        <div class="card w-100" style="width: 18rem;">
            <div class="card-header text-center">
            <h3>Photo Upload</h3>
        </div>
        <div class="card-body text-center">
            <%= form_with(model: @room, local: true)  do |f| %>
                <%= f.file_field :photos, multiple: true %>
                <div class="mt-3">
                    <%= f.submit "Add Photoes", class:"btn btn-outline-warning m-2" %>
                </div>
            <% end %><hr>
            <div class="row mt-5">
                <%  @photos.each do |photo| %>                   
                    <div class="col-4 mb-5">
                        <div class="card">
                            <div>
                                <%= image_tag photo, class:"card-img-top" %>
                            </div>    
                            <div class="card-body">
                                <%= link_to "Delete", delete_photo_room_path(room: @room.id, photo: photo.id), method: :delete, class: "btn btn-outline-danger mt-2 w-50", data: {confirm: "Are you sure?"} %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>