<%= provide(:title, "Creating Review")%>
<div class="card mt-5 text-center mx-auto w-50">
    <div class="card-header">
        <h5>Review</h5>
    </div>
    <div class="card-body">
        <%= form_with(model: [@reservation, @review], local: true) do |f| %>
            <div id="star-<%= @reservation.id %>"></div>
            <%#= f.number_field :star, min: 1, max: 5 %>
            <%= f.text_area :comment, class:"form-control mt-3", placeholder:"Leave a comment here" %>
            
            <%= f.hidden_field :review_type, value: @review_type %>
            <%= f.submit "Save Review", class:"btn btn-primary mt-3" %>
        <% end %>
    </div>
</div>
<script>
    $('#star-<%= @reservation.id %>').raty({
        path: "/assets/",
        score: 3,
        scoreName: "review[star]"
    });
</script>